.icon-arrowdown-01-color1 { background-image: url('png/arrowdown-01-color1.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-color2 { background-image: url('png/arrowdown-01-color2.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-color3 { background-image: url('png/arrowdown-01-color3.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-color4 { background-image: url('png/arrowdown-01-color4.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-color5 { background-image: url('png/arrowdown-01-color5.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-color6 { background-image: url('png/arrowdown-01-color6.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-color7 { background-image: url('png/arrowdown-01-color7.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-color8 { background-image: url('png/arrowdown-01-color8.png'); background-repeat: no-repeat; }

.icon-arrowdown-01-colorwhite { background-image: url('png/arrowdown-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-arrowdown-01 { background-image: url('png/arrowdown-01.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color1 { background-image: url('png/arrowleft-01-color1.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color2 { background-image: url('png/arrowleft-01-color2.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color3 { background-image: url('png/arrowleft-01-color3.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color4 { background-image: url('png/arrowleft-01-color4.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color5 { background-image: url('png/arrowleft-01-color5.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color6 { background-image: url('png/arrowleft-01-color6.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color7 { background-image: url('png/arrowleft-01-color7.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-color8 { background-image: url('png/arrowleft-01-color8.png'); background-repeat: no-repeat; }

.icon-arrowleft-01-colorwhite { background-image: url('png/arrowleft-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-arrowleft-01 { background-image: url('png/arrowleft-01.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color1 { background-image: url('png/arrowright-01-color1.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color2 { background-image: url('png/arrowright-01-color2.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color3 { background-image: url('png/arrowright-01-color3.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color4 { background-image: url('png/arrowright-01-color4.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color5 { background-image: url('png/arrowright-01-color5.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color6 { background-image: url('png/arrowright-01-color6.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color7 { background-image: url('png/arrowright-01-color7.png'); background-repeat: no-repeat; }

.icon-arrowright-01-color8 { background-image: url('png/arrowright-01-color8.png'); background-repeat: no-repeat; }

.icon-arrowright-01-colorwhite { background-image: url('png/arrowright-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-arrowright-01 { background-image: url('png/arrowright-01.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color1 { background-image: url('png/arrowup-01-color1.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color2 { background-image: url('png/arrowup-01-color2.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color3 { background-image: url('png/arrowup-01-color3.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color4 { background-image: url('png/arrowup-01-color4.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color5 { background-image: url('png/arrowup-01-color5.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color6 { background-image: url('png/arrowup-01-color6.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color7 { background-image: url('png/arrowup-01-color7.png'); background-repeat: no-repeat; }

.icon-arrowup-01-color8 { background-image: url('png/arrowup-01-color8.png'); background-repeat: no-repeat; }

.icon-arrowup-01-colorwhite { background-image: url('png/arrowup-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-arrowup-01 { background-image: url('png/arrowup-01.png'); background-repeat: no-repeat; }

.icon-calendar-01-color1 { background-image: url('png/calendar-01-color1.png'); background-repeat: no-repeat; }

.icon-calendar-01-color2 { background-image: url('png/calendar-01-color2.png'); background-repeat: no-repeat; }

.icon-calendar-01-color3 { background-image: url('png/calendar-01-color3.png'); background-repeat: no-repeat; }

.icon-calendar-01-color4 { background-image: url('png/calendar-01-color4.png'); background-repeat: no-repeat; }

.icon-calendar-01-color5 { background-image: url('png/calendar-01-color5.png'); background-repeat: no-repeat; }

.icon-calendar-01-color6 { background-image: url('png/calendar-01-color6.png'); background-repeat: no-repeat; }

.icon-calendar-01-color7 { background-image: url('png/calendar-01-color7.png'); background-repeat: no-repeat; }

.icon-calendar-01-color8 { background-image: url('png/calendar-01-color8.png'); background-repeat: no-repeat; }

.icon-calendar-01-colorwhite { background-image: url('png/calendar-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-calendar-01 { background-image: url('png/calendar-01.png'); background-repeat: no-repeat; }

.icon-check-01-color1 { background-image: url('png/check-01-color1.png'); background-repeat: no-repeat; }

.icon-check-01-color2 { background-image: url('png/check-01-color2.png'); background-repeat: no-repeat; }

.icon-check-01-color3 { background-image: url('png/check-01-color3.png'); background-repeat: no-repeat; }

.icon-check-01-color4 { background-image: url('png/check-01-color4.png'); background-repeat: no-repeat; }

.icon-check-01-color5 { background-image: url('png/check-01-color5.png'); background-repeat: no-repeat; }

.icon-check-01-color6 { background-image: url('png/check-01-color6.png'); background-repeat: no-repeat; }

.icon-check-01-color7 { background-image: url('png/check-01-color7.png'); background-repeat: no-repeat; }

.icon-check-01-color8 { background-image: url('png/check-01-color8.png'); background-repeat: no-repeat; }

.icon-check-01-colorwhite { background-image: url('png/check-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-check-01 { background-image: url('png/check-01.png'); background-repeat: no-repeat; }

.icon-click-01-color1 { background-image: url('png/click-01-color1.png'); background-repeat: no-repeat; }

.icon-click-01-color2 { background-image: url('png/click-01-color2.png'); background-repeat: no-repeat; }

.icon-click-01-color3 { background-image: url('png/click-01-color3.png'); background-repeat: no-repeat; }

.icon-click-01-color4 { background-image: url('png/click-01-color4.png'); background-repeat: no-repeat; }

.icon-click-01-color5 { background-image: url('png/click-01-color5.png'); background-repeat: no-repeat; }

.icon-click-01-color6 { background-image: url('png/click-01-color6.png'); background-repeat: no-repeat; }

.icon-click-01-color7 { background-image: url('png/click-01-color7.png'); background-repeat: no-repeat; }

.icon-click-01-color8 { background-image: url('png/click-01-color8.png'); background-repeat: no-repeat; }

.icon-click-01-colorwhite { background-image: url('png/click-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-click-01 { background-image: url('png/click-01.png'); background-repeat: no-repeat; }

.icon-contact-01-color1 { background-image: url('png/contact-01-color1.png'); background-repeat: no-repeat; }

.icon-contact-01-color2 { background-image: url('png/contact-01-color2.png'); background-repeat: no-repeat; }

.icon-contact-01-color3 { background-image: url('png/contact-01-color3.png'); background-repeat: no-repeat; }

.icon-contact-01-color4 { background-image: url('png/contact-01-color4.png'); background-repeat: no-repeat; }

.icon-contact-01-color5 { background-image: url('png/contact-01-color5.png'); background-repeat: no-repeat; }

.icon-contact-01-color6 { background-image: url('png/contact-01-color6.png'); background-repeat: no-repeat; }

.icon-contact-01-color7 { background-image: url('png/contact-01-color7.png'); background-repeat: no-repeat; }

.icon-contact-01-color8 { background-image: url('png/contact-01-color8.png'); background-repeat: no-repeat; }

.icon-contact-01-colorwhite { background-image: url('png/contact-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-contact-01 { background-image: url('png/contact-01.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color1 { background-image: url('png/customerservice-01-color1.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color2 { background-image: url('png/customerservice-01-color2.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color3 { background-image: url('png/customerservice-01-color3.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color4 { background-image: url('png/customerservice-01-color4.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color5 { background-image: url('png/customerservice-01-color5.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color6 { background-image: url('png/customerservice-01-color6.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color7 { background-image: url('png/customerservice-01-color7.png'); background-repeat: no-repeat; }

.icon-customerservice-01-color8 { background-image: url('png/customerservice-01-color8.png'); background-repeat: no-repeat; }

.icon-customerservice-01-colorwhite { background-image: url('png/customerservice-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-customerservice-01 { background-image: url('png/customerservice-01.png'); background-repeat: no-repeat; }

.icon-diamond-01-color1 { background-image: url('png/diamond-01-color1.png'); background-repeat: no-repeat; }

.icon-diamond-01-color2 { background-image: url('png/diamond-01-color2.png'); background-repeat: no-repeat; }

.icon-diamond-01-color3 { background-image: url('png/diamond-01-color3.png'); background-repeat: no-repeat; }

.icon-diamond-01-color4 { background-image: url('png/diamond-01-color4.png'); background-repeat: no-repeat; }

.icon-diamond-01-color5 { background-image: url('png/diamond-01-color5.png'); background-repeat: no-repeat; }

.icon-diamond-01-color6 { background-image: url('png/diamond-01-color6.png'); background-repeat: no-repeat; }

.icon-diamond-01-color7 { background-image: url('png/diamond-01-color7.png'); background-repeat: no-repeat; }

.icon-diamond-01-color8 { background-image: url('png/diamond-01-color8.png'); background-repeat: no-repeat; }

.icon-diamond-01-colorwhite { background-image: url('png/diamond-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-diamond-01 { background-image: url('png/diamond-01.png'); background-repeat: no-repeat; }

.icon-envelope-01-color1 { background-image: url('png/envelope-01-color1.png'); background-repeat: no-repeat; }

.icon-envelope-01-color2 { background-image: url('png/envelope-01-color2.png'); background-repeat: no-repeat; }

.icon-envelope-01-color3 { background-image: url('png/envelope-01-color3.png'); background-repeat: no-repeat; }

.icon-envelope-01-color4 { background-image: url('png/envelope-01-color4.png'); background-repeat: no-repeat; }

.icon-envelope-01-color5 { background-image: url('png/envelope-01-color5.png'); background-repeat: no-repeat; }

.icon-envelope-01-color6 { background-image: url('png/envelope-01-color6.png'); background-repeat: no-repeat; }

.icon-envelope-01-color7 { background-image: url('png/envelope-01-color7.png'); background-repeat: no-repeat; }

.icon-envelope-01-color8 { background-image: url('png/envelope-01-color8.png'); background-repeat: no-repeat; }

.icon-envelope-01-colorwhite { background-image: url('png/envelope-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-envelope-01 { background-image: url('png/envelope-01.png'); background-repeat: no-repeat; }

.icon-facebook-01-color1 { background-image: url('png/facebook-01-color1.png'); background-repeat: no-repeat; }

.icon-facebook-01-color2 { background-image: url('png/facebook-01-color2.png'); background-repeat: no-repeat; }

.icon-facebook-01-color3 { background-image: url('png/facebook-01-color3.png'); background-repeat: no-repeat; }

.icon-facebook-01-color4 { background-image: url('png/facebook-01-color4.png'); background-repeat: no-repeat; }

.icon-facebook-01-color5 { background-image: url('png/facebook-01-color5.png'); background-repeat: no-repeat; }

.icon-facebook-01-color6 { background-image: url('png/facebook-01-color6.png'); background-repeat: no-repeat; }

.icon-facebook-01-color7 { background-image: url('png/facebook-01-color7.png'); background-repeat: no-repeat; }

.icon-facebook-01-color8 { background-image: url('png/facebook-01-color8.png'); background-repeat: no-repeat; }

.icon-facebook-01-colorwhite { background-image: url('png/facebook-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-facebook-01 { background-image: url('png/facebook-01.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color1 { background-image: url('png/facebook2-01-color1.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color2 { background-image: url('png/facebook2-01-color2.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color3 { background-image: url('png/facebook2-01-color3.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color4 { background-image: url('png/facebook2-01-color4.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color5 { background-image: url('png/facebook2-01-color5.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color6 { background-image: url('png/facebook2-01-color6.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color7 { background-image: url('png/facebook2-01-color7.png'); background-repeat: no-repeat; }

.icon-facebook2-01-color8 { background-image: url('png/facebook2-01-color8.png'); background-repeat: no-repeat; }

.icon-facebook2-01-colorwhite { background-image: url('png/facebook2-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-facebook2-01 { background-image: url('png/facebook2-01.png'); background-repeat: no-repeat; }

.icon-health-01-color1 { background-image: url('png/health-01-color1.png'); background-repeat: no-repeat; }

.icon-health-01-color2 { background-image: url('png/health-01-color2.png'); background-repeat: no-repeat; }

.icon-health-01-color3 { background-image: url('png/health-01-color3.png'); background-repeat: no-repeat; }

.icon-health-01-color4 { background-image: url('png/health-01-color4.png'); background-repeat: no-repeat; }

.icon-health-01-color5 { background-image: url('png/health-01-color5.png'); background-repeat: no-repeat; }

.icon-health-01-color6 { background-image: url('png/health-01-color6.png'); background-repeat: no-repeat; }

.icon-health-01-color7 { background-image: url('png/health-01-color7.png'); background-repeat: no-repeat; }

.icon-health-01-color8 { background-image: url('png/health-01-color8.png'); background-repeat: no-repeat; }

.icon-health-01-colorwhite { background-image: url('png/health-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-health-01 { background-image: url('png/health-01.png'); background-repeat: no-repeat; }

.icon-heart-01-color1 { background-image: url('png/heart-01-color1.png'); background-repeat: no-repeat; }

.icon-heart-01-color2 { background-image: url('png/heart-01-color2.png'); background-repeat: no-repeat; }

.icon-heart-01-color3 { background-image: url('png/heart-01-color3.png'); background-repeat: no-repeat; }

.icon-heart-01-color4 { background-image: url('png/heart-01-color4.png'); background-repeat: no-repeat; }

.icon-heart-01-color5 { background-image: url('png/heart-01-color5.png'); background-repeat: no-repeat; }

.icon-heart-01-color6 { background-image: url('png/heart-01-color6.png'); background-repeat: no-repeat; }

.icon-heart-01-color7 { background-image: url('png/heart-01-color7.png'); background-repeat: no-repeat; }

.icon-heart-01-color8 { background-image: url('png/heart-01-color8.png'); background-repeat: no-repeat; }

.icon-heart-01-colorwhite { background-image: url('png/heart-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-heart-01 { background-image: url('png/heart-01.png'); background-repeat: no-repeat; }

.icon-home-01-color1 { background-image: url('png/home-01-color1.png'); background-repeat: no-repeat; }

.icon-home-01-color2 { background-image: url('png/home-01-color2.png'); background-repeat: no-repeat; }

.icon-home-01-color3 { background-image: url('png/home-01-color3.png'); background-repeat: no-repeat; }

.icon-home-01-color4 { background-image: url('png/home-01-color4.png'); background-repeat: no-repeat; }

.icon-home-01-color5 { background-image: url('png/home-01-color5.png'); background-repeat: no-repeat; }

.icon-home-01-color6 { background-image: url('png/home-01-color6.png'); background-repeat: no-repeat; }

.icon-home-01-color7 { background-image: url('png/home-01-color7.png'); background-repeat: no-repeat; }

.icon-home-01-color8 { background-image: url('png/home-01-color8.png'); background-repeat: no-repeat; }

.icon-home-01-colorwhite { background-image: url('png/home-01-colorwhite.png'); background-repeat: no-repeat; }

/*.icon-home-01 { background-image: url('png/home-01.png'); background-repeat: no-repeat; }*/

.icon-house-01-color1 { background-image: url('png/house-01-color1.png'); background-repeat: no-repeat; }

.icon-house-01-color2 { background-image: url('png/house-01-color2.png'); background-repeat: no-repeat; }

.icon-house-01-color3 { background-image: url('png/house-01-color3.png'); background-repeat: no-repeat; }

.icon-house-01-color4 { background-image: url('png/house-01-color4.png'); background-repeat: no-repeat; }

.icon-house-01-color5 { background-image: url('png/house-01-color5.png'); background-repeat: no-repeat; }

.icon-house-01-color6 { background-image: url('png/house-01-color6.png'); background-repeat: no-repeat; }

.icon-house-01-color7 { background-image: url('png/house-01-color7.png'); background-repeat: no-repeat; }

.icon-house-01-color8 { background-image: url('png/house-01-color8.png'); background-repeat: no-repeat; }

.icon-house-01-colorwhite { background-image: url('png/house-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-house-01 { background-image: url('png/house-01.png'); background-repeat: no-repeat; }

.icon-keys-01-color1 { background-image: url('png/keys-01-color1.png'); background-repeat: no-repeat; }

.icon-keys-01-color2 { background-image: url('png/keys-01-color2.png'); background-repeat: no-repeat; }

.icon-keys-01-color3 { background-image: url('png/keys-01-color3.png'); background-repeat: no-repeat; }

.icon-keys-01-color4 { background-image: url('png/keys-01-color4.png'); background-repeat: no-repeat; }

.icon-keys-01-color5 { background-image: url('png/keys-01-color5.png'); background-repeat: no-repeat; }

.icon-keys-01-color6 { background-image: url('png/keys-01-color6.png'); background-repeat: no-repeat; }

.icon-keys-01-color7 { background-image: url('png/keys-01-color7.png'); background-repeat: no-repeat; }

.icon-keys-01-color8 { background-image: url('png/keys-01-color8.png'); background-repeat: no-repeat; }

.icon-keys-01-colorwhite { background-image: url('png/keys-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-keys-01 { background-image: url('png/keys-01.png'); background-repeat: no-repeat; }

.icon-lamp-01-color1 { background-image: url('png/lamp-01-color1.png'); background-repeat: no-repeat; }

.icon-lamp-01-color2 { background-image: url('png/lamp-01-color2.png'); background-repeat: no-repeat; }

.icon-lamp-01-color3 { background-image: url('png/lamp-01-color3.png'); background-repeat: no-repeat; }

.icon-lamp-01-color4 { background-image: url('png/lamp-01-color4.png'); background-repeat: no-repeat; }

.icon-lamp-01-color5 { background-image: url('png/lamp-01-color5.png'); background-repeat: no-repeat; }

.icon-lamp-01-color6 { background-image: url('png/lamp-01-color6.png'); background-repeat: no-repeat; }

.icon-lamp-01-color7 { background-image: url('png/lamp-01-color7.png'); background-repeat: no-repeat; }

.icon-lamp-01-color8 { background-image: url('png/lamp-01-color8.png'); background-repeat: no-repeat; }

.icon-lamp-01-colorwhite { background-image: url('png/lamp-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-lamp-01 { background-image: url('png/lamp-01.png'); background-repeat: no-repeat; }

.icon-lifering-01-color1 { background-image: url('png/lifering-01-color1.png'); background-repeat: no-repeat; }

.icon-lifering-01-color2 { background-image: url('png/lifering-01-color2.png'); background-repeat: no-repeat; }

.icon-lifering-01-color3 { background-image: url('png/lifering-01-color3.png'); background-repeat: no-repeat; }

.icon-lifering-01-color4 { background-image: url('png/lifering-01-color4.png'); background-repeat: no-repeat; }

.icon-lifering-01-color5 { background-image: url('png/lifering-01-color5.png'); background-repeat: no-repeat; }

.icon-lifering-01-color6 { background-image: url('png/lifering-01-color6.png'); background-repeat: no-repeat; }

.icon-lifering-01-color7 { background-image: url('png/lifering-01-color7.png'); background-repeat: no-repeat; }

.icon-lifering-01-color8 { background-image: url('png/lifering-01-color8.png'); background-repeat: no-repeat; }

.icon-lifering-01-colorwhite { background-image: url('png/lifering-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-lifering-01 { background-image: url('png/lifering-01.png'); background-repeat: no-repeat; }

.icon-list-01-color1 { background-image: url('png/list-01-color1.png'); background-repeat: no-repeat; }

.icon-list-01-color2 { background-image: url('png/list-01-color2.png'); background-repeat: no-repeat; }

.icon-list-01-color3 { background-image: url('png/list-01-color3.png'); background-repeat: no-repeat; }

.icon-list-01-color4 { background-image: url('png/list-01-color4.png'); background-repeat: no-repeat; }

.icon-list-01-color5 { background-image: url('png/list-01-color5.png'); background-repeat: no-repeat; }

.icon-list-01-color6 { background-image: url('png/list-01-color6.png'); background-repeat: no-repeat; }

.icon-list-01-color7 { background-image: url('png/list-01-color7.png'); background-repeat: no-repeat; }

.icon-list-01-color8 { background-image: url('png/list-01-color8.png'); background-repeat: no-repeat; }

.icon-list-01-colorwhite { background-image: url('png/list-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-list-01 { background-image: url('png/list-01.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color1 { background-image: url('png/mechanicservice-01-color1.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color2 { background-image: url('png/mechanicservice-01-color2.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color3 { background-image: url('png/mechanicservice-01-color3.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color4 { background-image: url('png/mechanicservice-01-color4.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color5 { background-image: url('png/mechanicservice-01-color5.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color6 { background-image: url('png/mechanicservice-01-color6.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color7 { background-image: url('png/mechanicservice-01-color7.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-color8 { background-image: url('png/mechanicservice-01-color8.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01-colorwhite { background-image: url('png/mechanicservice-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-mechanicservice-01 { background-image: url('png/mechanicservice-01.png'); background-repeat: no-repeat; }

.icon-minus-01-color1 { background-image: url('png/minus-01-color1.png'); background-repeat: no-repeat; }

.icon-minus-01-color2 { background-image: url('png/minus-01-color2.png'); background-repeat: no-repeat; }

.icon-minus-01-color3 { background-image: url('png/minus-01-color3.png'); background-repeat: no-repeat; }

.icon-minus-01-color4 { background-image: url('png/minus-01-color4.png'); background-repeat: no-repeat; }

.icon-minus-01-color5 { background-image: url('png/minus-01-color5.png'); background-repeat: no-repeat; }

.icon-minus-01-color6 { background-image: url('png/minus-01-color6.png'); background-repeat: no-repeat; }

.icon-minus-01-color7 { background-image: url('png/minus-01-color7.png'); background-repeat: no-repeat; }

.icon-minus-01-color8 { background-image: url('png/minus-01-color8.png'); background-repeat: no-repeat; }

.icon-minus-01-colorwhite { background-image: url('png/minus-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-minus-01 { background-image: url('png/minus-01.png'); background-repeat: no-repeat; }

.icon-money-01-color1 { background-image: url('png/money-01-color1.png'); background-repeat: no-repeat; }

.icon-money-01-color2 { background-image: url('png/money-01-color2.png'); background-repeat: no-repeat; }

.icon-money-01-color3 { background-image: url('png/money-01-color3.png'); background-repeat: no-repeat; }

.icon-money-01-color4 { background-image: url('png/money-01-color4.png'); background-repeat: no-repeat; }

.icon-money-01-color5 { background-image: url('png/money-01-color5.png'); background-repeat: no-repeat; }

.icon-money-01-color6 { background-image: url('png/money-01-color6.png'); background-repeat: no-repeat; }

.icon-money-01-color7 { background-image: url('png/money-01-color7.png'); background-repeat: no-repeat; }

.icon-money-01-color8 { background-image: url('png/money-01-color8.png'); background-repeat: no-repeat; }

.icon-money-01-colorwhite { background-image: url('png/money-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-money-01 { background-image: url('png/money-01.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color1 { background-image: url('png/motorcycle-01-color1.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color2 { background-image: url('png/motorcycle-01-color2.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color3 { background-image: url('png/motorcycle-01-color3.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color4 { background-image: url('png/motorcycle-01-color4.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color5 { background-image: url('png/motorcycle-01-color5.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color6 { background-image: url('png/motorcycle-01-color6.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color7 { background-image: url('png/motorcycle-01-color7.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-color8 { background-image: url('png/motorcycle-01-color8.png'); background-repeat: no-repeat; }

.icon-motorcycle-01-colorwhite { background-image: url('png/motorcycle-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-motorcycle-01 { background-image: url('png/motorcycle-01.png'); background-repeat: no-repeat; }

.icon-nis-01-color1 { background-image: url('png/nis-01-color1.png'); background-repeat: no-repeat; }

.icon-nis-01-color2 { background-image: url('png/nis-01-color2.png'); background-repeat: no-repeat; }

.icon-nis-01-color3 { background-image: url('png/nis-01-color3.png'); background-repeat: no-repeat; }

.icon-nis-01-color4 { background-image: url('png/nis-01-color4.png'); background-repeat: no-repeat; }

.icon-nis-01-color5 { background-image: url('png/nis-01-color5.png'); background-repeat: no-repeat; }

.icon-nis-01-color6 { background-image: url('png/nis-01-color6.png'); background-repeat: no-repeat; }

.icon-nis-01-color7 { background-image: url('png/nis-01-color7.png'); background-repeat: no-repeat; }

.icon-nis-01-color8 { background-image: url('png/nis-01-color8.png'); background-repeat: no-repeat; }

.icon-nis-01-colorwhite { background-image: url('png/nis-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-nis-01 { background-image: url('png/nis-01.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color1 { background-image: url('png/openenvelope-01-color1.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color2 { background-image: url('png/openenvelope-01-color2.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color3 { background-image: url('png/openenvelope-01-color3.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color4 { background-image: url('png/openenvelope-01-color4.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color5 { background-image: url('png/openenvelope-01-color5.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color6 { background-image: url('png/openenvelope-01-color6.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color7 { background-image: url('png/openenvelope-01-color7.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-color8 { background-image: url('png/openenvelope-01-color8.png'); background-repeat: no-repeat; }

.icon-openenvelope-01-colorwhite { background-image: url('png/openenvelope-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-openenvelope-01 { background-image: url('png/openenvelope-01.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color1 { background-image: url('png/paperplane-01-color1.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color2 { background-image: url('png/paperplane-01-color2.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color3 { background-image: url('png/paperplane-01-color3.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color4 { background-image: url('png/paperplane-01-color4.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color5 { background-image: url('png/paperplane-01-color5.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color6 { background-image: url('png/paperplane-01-color6.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color7 { background-image: url('png/paperplane-01-color7.png'); background-repeat: no-repeat; }

.icon-paperplane-01-color8 { background-image: url('png/paperplane-01-color8.png'); background-repeat: no-repeat; }

.icon-paperplane-01-colorwhite { background-image: url('png/paperplane-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-paperplane-01 { background-image: url('png/paperplane-01.png'); background-repeat: no-repeat; }

.icon-pen-01-color1 { background-image: url('png/pen-01-color1.png'); background-repeat: no-repeat; }

.icon-pen-01-color2 { background-image: url('png/pen-01-color2.png'); background-repeat: no-repeat; }

.icon-pen-01-color3 { background-image: url('png/pen-01-color3.png'); background-repeat: no-repeat; }

.icon-pen-01-color4 { background-image: url('png/pen-01-color4.png'); background-repeat: no-repeat; }

.icon-pen-01-color5 { background-image: url('png/pen-01-color5.png'); background-repeat: no-repeat; }

.icon-pen-01-color6 { background-image: url('png/pen-01-color6.png'); background-repeat: no-repeat; }

.icon-pen-01-color7 { background-image: url('png/pen-01-color7.png'); background-repeat: no-repeat; }

.icon-pen-01-color8 { background-image: url('png/pen-01-color8.png'); background-repeat: no-repeat; }

.icon-pen-01-colorwhite { background-image: url('png/pen-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-pen-01 { background-image: url('png/pen-01.png'); background-repeat: no-repeat; }

.icon-phone-01-color1 { background-image: url('png/phone-01-color1.png'); background-repeat: no-repeat; }

.icon-phone-01-color2 { background-image: url('png/phone-01-color2.png'); background-repeat: no-repeat; }

.icon-phone-01-color3 { background-image: url('png/phone-01-color3.png'); background-repeat: no-repeat; }

.icon-phone-01-color4 { background-image: url('png/phone-01-color4.png'); background-repeat: no-repeat; }

.icon-phone-01-color5 { background-image: url('png/phone-01-color5.png'); background-repeat: no-repeat; }

.icon-phone-01-color6 { background-image: url('png/phone-01-color6.png'); background-repeat: no-repeat; }

.icon-phone-01-color7 { background-image: url('png/phone-01-color7.png'); background-repeat: no-repeat; }

.icon-phone-01-color8 { background-image: url('png/phone-01-color8.png'); background-repeat: no-repeat; }

.icon-phone-01-colorwhite { background-image: url('png/phone-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-phone-01 { background-image: url('png/phone-01.png'); background-repeat: no-repeat; }

.icon-plus-01-color1 { background-image: url('png/plus-01-color1.png'); background-repeat: no-repeat; }

.icon-plus-01-color2 { background-image: url('png/plus-01-color2.png'); background-repeat: no-repeat; }

.icon-plus-01-color3 { background-image: url('png/plus-01-color3.png'); background-repeat: no-repeat; }

.icon-plus-01-color4 { background-image: url('png/plus-01-color4.png'); background-repeat: no-repeat; }

.icon-plus-01-color5 { background-image: url('png/plus-01-color5.png'); background-repeat: no-repeat; }

.icon-plus-01-color6 { background-image: url('png/plus-01-color6.png'); background-repeat: no-repeat; }

.icon-plus-01-color7 { background-image: url('png/plus-01-color7.png'); background-repeat: no-repeat; }

.icon-plus-01-color8 { background-image: url('png/plus-01-color8.png'); background-repeat: no-repeat; }

.icon-plus-01-colorwhite { background-image: url('png/plus-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-plus-01 { background-image: url('png/plus-01.png'); background-repeat: no-repeat; }

.icon-question-01-color1 { background-image: url('png/question-01-color1.png'); background-repeat: no-repeat; }

.icon-question-01-color2 { background-image: url('png/question-01-color2.png'); background-repeat: no-repeat; }

.icon-question-01-color3 { background-image: url('png/question-01-color3.png'); background-repeat: no-repeat; }

.icon-question-01-color4 { background-image: url('png/question-01-color4.png'); background-repeat: no-repeat; }

.icon-question-01-color5 { background-image: url('png/question-01-color5.png'); background-repeat: no-repeat; }

.icon-question-01-color6 { background-image: url('png/question-01-color6.png'); background-repeat: no-repeat; }

.icon-question-01-color7 { background-image: url('png/question-01-color7.png'); background-repeat: no-repeat; }

.icon-question-01-color8 { background-image: url('png/question-01-color8.png'); background-repeat: no-repeat; }

.icon-question-01-colorwhite { background-image: url('png/question-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-question-01 { background-image: url('png/question-01.png'); background-repeat: no-repeat; }

.icon-taxi-01-color1 { background-image: url('png/taxi-01-color1.png'); background-repeat: no-repeat; }

.icon-taxi-01-color2 { background-image: url('png/taxi-01-color2.png'); background-repeat: no-repeat; }

.icon-taxi-01-color3 { background-image: url('png/taxi-01-color3.png'); background-repeat: no-repeat; }

.icon-taxi-01-color4 { background-image: url('png/taxi-01-color4.png'); background-repeat: no-repeat; }

.icon-taxi-01-color5 { background-image: url('png/taxi-01-color5.png'); background-repeat: no-repeat; }

.icon-taxi-01-color6 { background-image: url('png/taxi-01-color6.png'); background-repeat: no-repeat; }

.icon-taxi-01-color7 { background-image: url('png/taxi-01-color7.png'); background-repeat: no-repeat; }

.icon-taxi-01-color8 { background-image: url('png/taxi-01-color8.png'); background-repeat: no-repeat; }

.icon-taxi-01-colorwhite { background-image: url('png/taxi-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-taxi-01 { background-image: url('png/taxi-01.png'); background-repeat: no-repeat; }

.icon-truck-01-color1 { background-image: url('png/truck-01-color1.png'); background-repeat: no-repeat; }

.icon-truck-01-color2 { background-image: url('png/truck-01-color2.png'); background-repeat: no-repeat; }

.icon-truck-01-color3 { background-image: url('png/truck-01-color3.png'); background-repeat: no-repeat; }

.icon-truck-01-color4 { background-image: url('png/truck-01-color4.png'); background-repeat: no-repeat; }

.icon-truck-01-color5 { background-image: url('png/truck-01-color5.png'); background-repeat: no-repeat; }

.icon-truck-01-color6 { background-image: url('png/truck-01-color6.png'); background-repeat: no-repeat; }

.icon-truck-01-color7 { background-image: url('png/truck-01-color7.png'); background-repeat: no-repeat; }

.icon-truck-01-color8 { background-image: url('png/truck-01-color8.png'); background-repeat: no-repeat; }

.icon-truck-01-colorwhite { background-image: url('png/truck-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-truck-01 { background-image: url('png/truck-01.png'); background-repeat: no-repeat; }

.icon-twitter-01-color1 { background-image: url('png/twitter-01-color1.png'); background-repeat: no-repeat; }

.icon-twitter-01-color2 { background-image: url('png/twitter-01-color2.png'); background-repeat: no-repeat; }

.icon-twitter-01-color3 { background-image: url('png/twitter-01-color3.png'); background-repeat: no-repeat; }

.icon-twitter-01-color4 { background-image: url('png/twitter-01-color4.png'); background-repeat: no-repeat; }

.icon-twitter-01-color5 { background-image: url('png/twitter-01-color5.png'); background-repeat: no-repeat; }

.icon-twitter-01-color6 { background-image: url('png/twitter-01-color6.png'); background-repeat: no-repeat; }

.icon-twitter-01-color7 { background-image: url('png/twitter-01-color7.png'); background-repeat: no-repeat; }

.icon-twitter-01-color8 { background-image: url('png/twitter-01-color8.png'); background-repeat: no-repeat; }

.icon-twitter-01-colorwhite { background-image: url('png/twitter-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-twitter-01 { background-image: url('png/twitter-01.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color1 { background-image: url('png/whatsapp-01-color1.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color2 { background-image: url('png/whatsapp-01-color2.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color3 { background-image: url('png/whatsapp-01-color3.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color4 { background-image: url('png/whatsapp-01-color4.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color5 { background-image: url('png/whatsapp-01-color5.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color6 { background-image: url('png/whatsapp-01-color6.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color7 { background-image: url('png/whatsapp-01-color7.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-color8 { background-image: url('png/whatsapp-01-color8.png'); background-repeat: no-repeat; }

.icon-whatsapp-01-colorwhite { background-image: url('png/whatsapp-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-whatsapp-01 { background-image: url('png/whatsapp-01.png'); background-repeat: no-repeat; }

.icon-world-01-color1 { background-image: url('png/world-01-color1.png'); background-repeat: no-repeat; }

.icon-world-01-color2 { background-image: url('png/world-01-color2.png'); background-repeat: no-repeat; }

.icon-world-01-color3 { background-image: url('png/world-01-color3.png'); background-repeat: no-repeat; }

.icon-world-01-color4 { background-image: url('png/world-01-color4.png'); background-repeat: no-repeat; }

.icon-world-01-color5 { background-image: url('png/world-01-color5.png'); background-repeat: no-repeat; }

.icon-world-01-color6 { background-image: url('png/world-01-color6.png'); background-repeat: no-repeat; }

.icon-world-01-color7 { background-image: url('png/world-01-color7.png'); background-repeat: no-repeat; }

.icon-world-01-color8 { background-image: url('png/world-01-color8.png'); background-repeat: no-repeat; }

.icon-world-01-colorwhite { background-image: url('png/world-01-colorwhite.png'); background-repeat: no-repeat; }

.icon-world-01 { background-image: url('png/world-01.png'); background-repeat: no-repeat; }

